# To use this service locally you will need the following environment variables set up
# in your .env file. You can copy this file to .env and fill in the values.

MONGO_URI='YOUR_MONGO_URI_HERE'
NOTIFICATIONS_SENDER_EMAIL='YOUR_EMAIL_HERE'
GMAIL_API_SECRETS='YOUR_GMAIL_API_SECRETS_JSON_STRING_HERE'
AWS_ACCESS_KEY_ID='YOUR_AWS_ACCESS_KEY_ID_HERE'
AWS_SECRET_ACCESS_KEY='YOUR_AWS_SECRET_ACCESS_KEY_HERE'
AWS_REGION='YOUR_AWS_REGION_NAME_HERE'