# Create a file named .env in the root directory of your project and add the following environment variables 
# (PS: We will provide the actual values to replace 'your_openai_api_key_here' and 'your_resource_url_here'):

OPENAI_API_KEY=your_openai_api_key_here
RESOURCE_URL=your_resource_url_here
HOUSE_ID=your_house_id_here