# To use this service locally you will need the following environment variables set up
# in your .env file. You can copy this file to .env and fill in the values.

MONGO_URI='YOUR_MONGO_URI_HERE'
NOTIFICATIONS_SENDER_EMAIL='YOUR_EMAIL_HERE'
GMAIL_API_SECRETS='YOUR_GMAIL_API_SECRETS_JSON_STRING_HERE'